*{
    padding: 0;
    margin:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    position: relative;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #bfdcdb;
}
nav{
    background: #688d8c;
    height: 90px;
    width: 100%;
}
label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    
    
    margin-right: 20px;
}
nav ul li{

    display: inline-block;
    line-height: 80px;
    margin: 0 55px;
   
}
nav ul li a{
    color: white;
    font-size: 17px;
    text-transform: uppercase;
}           
.btn{
    background-color: #709796;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding:20px 35px;
    border-radius: 40px;
    transform: .4s;
    position: relative;
    top: -50px;
    left: 1250px;
}



    
    #i1 {width: 200px;
    margin: 70px;}

    #i2{width: 230px; 
    left: 200px;
height: 280px;
top: -40px;}

#i3{width: 200px;
top: -30px;
left:450px ;}

#i4{width: 200px;
top: 390px;
left: -700px;}

#i5{width: 210px; top:380px;
left: -440px}

#i6{width: 200px;
top: 380px;
left: -180px;}



.sercle{width: 100px;
    height: 100px;
    border-radius: 300px;
   background-color: rgb(237, 231, 231);
   top: -390px;
   left: 220px;
}

#s1{top: -480px;
left: 700px;}

#s2{top: -565px;
left: 1170px;}

#s3{top: -240px;left: 200px; ;}

#s4{ top: -350px; 
left: 700px;}

#s5{left: 1180px;
top: -450px;}

.text{top: -950px;
    left: 245px;
    font-size: 20px;
    font-family: arial, sans-serif;
    }

#text1{font-size: 20px;
    font-family: arial, sans-serif;
top: -960px;
left: 730px;}


#text2{font-size: 20px;
    font-family: arial, sans-serif;
top: -970px;
left: 1195px;}


#text3{font-size: 20px;
    font-family: arial, sans-serif;
top: -570px;
left: 235px;}


#text4{font-size: 20px;
    font-family: arial, sans-serif;
top: -600px;
left: 735px;}
#text5{font-size: 20px;
    font-family: arial, sans-serif;
top: -620px;
left: 1215px;}

