
*{
    padding: 0;
    margin:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    position: relative;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #ffffff;
}
nav{
    background: #6F9682;
    height: 90px;
    width: 100%;
}
label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    
    
    margin-right: 20px;
}
nav ul li{

    display: inline-block;
    line-height: 80px;
    margin: 0 55px;
   
}
nav ul li a{
    color: white;
    font-size: 17px;
    text-transform: uppercase;
}           
.btn{
    background-color: #b3c8bd;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding:20px 35px;
    border-radius: 40px;
    transform: .4s;
    position: relative;
    top: -5px;
    left: 100px;
}
.vierkant{
    background-color:#b88f6b;
    width: 280px;
    height: 280px;
    position: relative;
    top:20px;
    left: 250px;
    border-radius: 300px;
}
.vierkant2{
    background-color:#eeddd0;
    width: 280px;
    height: 280px;
    position: relative;
    top: -260px;
    left: 870px;
    border-radius: 300px;
}
.vierkant3{
    background-color: #8bb6a0;
    width: 280px;
    height: 280px;
    position: relative;
    top: -190px;
    left: 870px;
    border-radius: 300px;

}
.vierkant4{
    background-color: #16513f;
    width: 280px;
    height: 280px;
    position: relative;
    top: -480px;
    left: 260px;
    border-radius: 300px;
}
/*middle circle green*/
.vierkant5{
    background-color:#b3d9c5 ;
    width: 200px;
    height: 200px;
    position: relative;
    top: -860px;
    left: 600px;
    border-radius: 300px;
    
}
.vierkant6{
    background-color: #ffffff;
    width: 160px;
    height: 160px;
    position: relative;
    top: -1040px;
    left: 620px;
    border-radius: 300px;
}
.vierkant7{
    background-color:#356758 ;
    width: 130px;
    height: 130px;
    position: relative;
    top: -1185px;
    left: 635px;
    border-radius: 300px;
}
.vierkant8{
    background-color:#8bb6a0 ;
    width: 80px;
    height: 80px;
    position: relative;
    top: -1290px;
    left: 660px;
    border-radius: 100px;
}
.vierkant9{
    background-color:#ffffff ;
    width: 50px;
    height: 50px;
    position: relative;
    top: -1350px;
    left: 675px;
    border-radius: 100px;
}
/*end middle circle green*/

/*start beige small circle */
.vierkant10{ 
    background-color:#b88f6b ;
    width: 120px;
    height: 120px;
    position: relative;
    top: -1650px;
    left:645px;
    border-radius: 100px;
}
.vierkant11{
    background-color:#ffffff ;
    width: 90px;
    height: 90px;
    position: relative;
    top: -1755px;
    left:660px;
    border-radius: 100px;
}
.vierkant12{
    background-color:#eeddd0 ;
    width: 70px;
    height: 70px;
    position: relative;
    top: -1835px;
    left:668px;
    border-radius: 100px;
}
.vierkant13{
    background-color:#b88f6b ;
    width: 50px;
    height: 50px;
    position: relative;
    top: -1896px;
    left:678px;
    border-radius: 100px;
}
.vierkant14{
    background-color:white ;
    width: 30px;
    height: 30px;
    position: relative;
    top: -1936px;
    left:686px;
    border-radius: 100px;
}

.vierkant15{
    background-color:#eeddd0 ;
    width: 120px;
    height: 120px;
    position: relative;
    top: -1590px;
    left:645px;
    border-radius: 100px;
}
.vierkant16{
    background-color:#ffffff ;
    width: 90px;
    height: 90px;
    position: relative;
    top: -1695px;
    left:660px;
    border-radius: 100px;
}
.vierkant17{
    background-color:#b88f6b ;
    width: 70px;
    height: 70px;
    position: relative;
    top: -1775px;
    left:668px;
    border-radius: 100px;
}
.vierkant18{
        background-color:#eeddd0 ;
        width: 50px;
        height: 50px;
        position: relative;
        top: -1836px;
        left:676px;
        border-radius: 100px;
    }
.vierkant19{
        background-color:white ;
        width: 30px;
        height: 30px;
        position: relative;
        top: -1875px;
        left:686px;
        border-radius: 100px;
    }
/*end small circles beige*/

/*start small circles green*/
.vierkant20{ 
    background-color:#356758 ;
    width: 120px;
    height: 120px;
    position: relative;
    top: -2200px;
    left:1165px;
    border-radius: 100px;
}
.vierkant21{ 
    background-color:white;
    width: 90px;
    height: 90px;
    position: relative;
    top: -2305px;
    left:1180px;
    border-radius: 100px;
}
.vierkant22{ 
    background-color:#b3d9c5;
    width: 70px;
    height: 70px;
    position: relative;
    top: -2385px;
    left:1190px;
    border-radius: 100px;
}
.vierkant23{ 
    background-color:#356758;
    width: 50px;
    height: 50px;
    position: relative;
    top: -2445px;
    left:1200px;
    border-radius: 100px;
}
.vierkant24{ 
    background-color:white;
    width: 30px;
    height: 30px;
    position: relative;
    top: -2485px;
    left:1211px;
    border-radius: 100px;
}
.vierkant25{
    background-color:#b3d9c5;
    width: 120px;
    height: 120px;
    position: relative;
    top: -2550px;
    left:111px;
    border-radius: 100px
}
.vierkant26{
    background-color:white;
    width: 90px;
    height: 90px;
    position: relative;
    top: -2656px;
    left:125px;
    border-radius: 100px
}
.vierkant27{
    background-color:#356758;
    width: 70px;
    height: 70px;
    position: relative;
    top: -2736px;
    left:135px;
    border-radius: 100px
}
.vierkant28{
    background-color:#b3d9c5;
    width: 50px;
    height: 50px;
    position: relative;
    top: -2798px;
    left:145px;
    border-radius: 100px
}
.vierkant29{
    background-color:white;
    width: 30px;
    height: 30px;
    position: relative;
    top: -2835px;
    left:155px;
    border-radius: 100px
}
/*texts*/
#main1{
    color: white;
    top: 35%;
    left: 10%;
    position: relative;
}
#main2{
    color: rgb(255, 255, 255);
    top: -430px;
    left: 920px;
    position: relative;
}
#main3{
    top: 60px;
    left:50px;
    position: relative;
}

#main4{
    color: rgb(255, 255, 255);
    top:60px;
    left:100px;
    position: relative; 
}
main{
    font-family:sans-serif;
    font-size: large;
}
#page2{
    background-color: #6F9682;
    width: 1525px;
    height: 900px;
    position: absolute;
    top: 800px;
}
.contactbox{
    background-color: #ffffff;
    width: 450px;
    height: 450px;
    position: absolute;
    top:920px ;
    left: 500px;
    border-radius: 20px;
}
form{
    margin: 35px;
}
.input-field{
    width:400px;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right:10px;
    border: 1px solid #777;
    border-radius: 14px;
    outline: none;
}
.textarea-field{
    height: 150px;
}
.btn1{
    border-radius: 20px;
    color:white;
    margin-top: 18px;
    padding: 10px;
    background-color: #356758;
    font-size: 12px;
    border: none;
    cursor: pointer;
}

#instagram {
    position: relative;
    top: -750px;
    left: 420px;
}