body{
    background-color: #ffffff;
}
#title{
    position: relative;
    top:-200px

}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 35px;
    padding-left: 8%;
    padding-right: 8%;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 50px 40px;
}
nav ul li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    font-size: large;
    font-family: sans-serif;}

h2{
    font-family:sans-serif;
    
}
.square1{
    background-color: salmon;
    width: 300px;
    height: 300px;
    position: relative;
    top: 20px;
    left: 300px;
    

}