body {
    background-color: #B8CCCA;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 35px;
  padding-left: 8%;
  padding-right: 8%;
}
nav ul li{
  list-style: none;
  display: inline-block;
  padding: 50px 40px;
}
nav ul li a{
  color: rgb(255, 0, 0);
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
  font-size: large;
  font-family: sans-serif;}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #95B2B0 ;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: #B8CCCA ;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #719895 ;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #719895 ;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #5E827F ;
  }
  
  #main {
    transition: margin-left .15s;
    padding: 16px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 35px;
    padding-left: 8%;
    padding-right: 8%;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 50px 40px;
    left: 240px;
    position: relative;
}
nav ul li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    font-size: large;
    font-family: sans-serif;
    position: relative;
    top: -70px;
}

 